@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-to-white-gradient-text {
  background: linear-gradient(to right, #2563EB, #B1E5F2);  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-ghost-white {
  background-color: #E8E9F3;
}

.bg-raisin-black {
  background-color: #242424;
}

.bg-french-gray {
  background-color: #A6A6A8
}

.text-ghost-white {
  color: #E8E9F3;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40; /* Ensure this is below the modal but above other content */
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}